<footer class="bg-gray-300">
    <div class="px-5 py-4 mx-auto flex flex-wrap">
        <p class="text-sm sm:text-left text-center">
            © <%= author %>
        </p>
        <span class="px-2 text-sm">•</span>
        <p class="text-sm sm:text-left text-center">
            <a href="<%= baseUrl %>" class="font-semibold hover:text-indigo-600">About</a>
        </p>
        <span class="px-2 text-sm">|</span>
        <p class="text-sm sm:text-left text-left">
            This app is provided without warranty of any kind, and may be closed suddenly.
        </p>
    </div>
</footer>
