<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <link rel="shortcut icon" href="https://raw.githubusercontent.com/mastodon/mastodon/main/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://raw.githubusercontent.com/mastodon/mastodon/main/public/favicon.ico" type="image/x-icon">

    <title><%= title %></title>

    <meta name="author" content="<%= author %>" />
    <meta name="description" content="<%= description %>" />
    <meta property="og:site_name" content="<%= title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:url" content="<%= url %>"/>
</head>
