<!DOCTYPE html>
<html>
<%- include('/partials/head.html'); %>
<body>
    <div class="h-screen flex flex-col bg-gray-700">
        <main class="mb-auto bg-gray-700">
            <section class="p-2 sm:p-4 flex flex-col justify-center max-w-screen-lg mx-auto">
                <div class="p-3 sm:p-6 bg-gray-100 rounded">
                    <div class="pb-5 sm:pl-2 border-b">
                        <h1 class="pr-2 py-1 tracking-wide text-2xl text-gray-900 font-semibold">
                            Mastodon Share Button
                        </h1>
                        <p>Working in progress!</p>
                    </div>
                    <div class="mt-5">
                        <p>TODO</p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('/partials/footer.html'); %>
    </div>
    <%- include('/partials/body-end.html'); %>
</body>
</html>
