<!DOCTYPE html>
<html>
<%- include('/partials/head.html'); %>
<body>
    <div class="h-screen flex flex-col bg-gray-700">
        <main class="mb-auto bg-gray-700">
            <section class="p-2 sm:p-4 flex flex-col justify-center max-w-screen-lg mx-auto">
                <div class="p-3 sm:p-6 bg-gray-100 rounded">
                    <div class="pb-5 sm:pl-2 border-b">
                        <h1 class="pr-2 py-1 tracking-wide text-2xl text-gray-900 font-semibold">
                            Mastodon Portal of Web Apps
                        </h1>
                        <p class="block">
                            <a class="text-sky-700 hover:text-sky-800" href="https://joinmastodon.org/" target="_blank">Mastodon</a> is a software for running self-hosted social networking services in <a class="text-sky-700 hover:text-sky-800" href="https://wikipedia.org/wiki/Fediverse" target="_blank">Fediverse</a>. Since these services are decentralized, we often want a gateway of our Mastodon servers. This portal provides just it.
                        </p>
                        <p class="block">
                            All of web apps of here are fully written by JavaScript / HTML / CSS only. It means you only need accessing hosting servers to install web apps to use them. They do not send your data to unknown servers. If you have doubts, you can read codes of web apps on <a class="text-sky-700 hover:text-sky-800" href="<%= sourceUrl %>" target="_blank">here</a>. If you have doubts for hosting services, you can fork it and self-host.
                        </p>
                    </div>
                    <div class="mt-5">
                        <a
                            href="./reset/"
                            class="
                                mb-6 px-4 py-4 sm:px-6
                                flex items-center justify-between
                                rounded border border-grey-lighter
                            ">
                            <span class="w-9/10 pr-2">
                                <h2 class="text-lg font-semibold">Check & Reset</h2>
                                <p class="font-light">
                                    Check and reset your data in browser saved by Web apps.
                                </p>
                            </span>
                            <span class="w-1/10">
                                <svg class="h-5" viewBox="0 0 40 100">
                                    <path stroke="black" stroke-width="5" fill="none" d="M 1 1 L 38 50 L 1 99"/>
                                 </svg>
                            </span>
                        </a>
                        <a
                            href="./add-share-button/"
                            class="
                                mb-6 px-4 py-4 sm:px-6
                                flex items-center justify-between
                                rounded border border-grey-lighter
                            ">
                            <span class="w-9/10 pr-2">
                                <h2 class="text-lg font-semibold">Add a Share Button</h2>
                                <p class="font-light">
                                    How to add a Mastodon share button to your site.
                                </p>
                            </span>
                            <span class="w-1/10">
                                <svg class="h-5" viewBox="0 0 40 100">
                                    <path stroke="black" stroke-width="5" fill="none" d="M 1 1 L 38 50 L 1 99"/>
                                 </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <%- include('/partials/footer.html'); %>
    </div>
    <%- include('/partials/body-end.html'); %>
</body>
</html>
